.folder {
    width: fit-content;
    padding: 4px;
    font-weight: bold;
    margin: 5px;
}

.file {
    font-weight: 100;
    margin: 5px;
    margin-left: 10px;
    color: gray;
    text-decoration: underline;
}